<div [ngClass]="notifSrv.show ? notifSrv._showClass : notifSrv._hideClass" class="toast animated" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Markdown Preview</strong>
        <button type="button" class="ml-2 mb-1 close" (click)="notifSrv.close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {{notifSrv.msn}}
    </div>
</div>
