
<div>
    <h3 class="text-center">Preview here</h3>
    <div [innerHtml]="processedHtml | sanitizehtml" class="preview rounded border border-secondary p-2">
        
    </div>
    <div class="d-flex flex-row-reverse">
        <button [disabled]="!processedHtml" (click)="copyHTML()" type="button" class="btn btn-outline-info mt-2">
            <i class="far fa-clipboard"></i>
        </button>
    </div>
</div>

    