<h3 class="text-center">Type tour text here</h3>
<div class="form-group">
    <textarea  #textArea [(ngModel)]="inputValue" (ngModelChange)="onInputChange()" name="textArea" class="form-control" id="md-text"></textarea>
    
    <div class="d-flex flex-row-reverse">
        <button [disabled]="!inputValue" [ngxClipboard]="textArea" (click)="showNotification()" type="button" class="btn btn-outline-info mt-2 spaced">
            <i class="far fa-clipboard"></i>
        </button>
        <button [disabled]="!inputValue" (click)="saveInput()" type="button" class="btn btn-outline-info mt-2 spaced">
            <i class="far fa-save"></i>
        </button>
    </div>
</div>
