textarea {
    font-family: 'Ubuntu Mono', monospace;
    min-height: 80vh;
    background: rgba(0, 0, 0, 0.685);
    color: white;
}

textarea:focus {
    font-family: 'Ubuntu Mono', monospace;
    min-height: 80vh;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.685);
    color: white;
}