<div class="c-saved-input">
    <h3>Saved Markdown</h3>
    <p>The input that you saved are available only on this navigator and this machine. Every one that come in this page with this computer will see this</p>
    <table *ngIf="savedInputSrv.inputs.length > 0" class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onRowClick(input.input)" *ngFor="let input of savedInputSrv.inputs; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{input.name}}</td>
            <td>
                <div class="row">
                    <button (click)="savedInputSrv.deleteInput(i)" class="btn btn-outline-danger btn-sm spaced">
                        Delete
                    </button>
                    <button (click)="editInput(i)" class="btn btn-outline-info btn-sm spaced">
                        Edit
                    </button>
                </div>
                
            </td>
          </tr>
        </tbody>
    </table>
    <div *ngIf="savedInputSrv.inputs.length === 0" class="alert alert-info" role="alert">
        You dont have any markdown saved. To save one simply press the <i class="far fa-save"></i> button
    </div>
</div>