<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h1 class="display-4">Mardown Live Preview</h1>
      <p class="lead">Markdown Preview is a simple live converter of <a href="https://es.wikipedia.org/wiki/Markdown">markdown sintax</a> developp with <a href="angular.io">Angular</a> </p> 
    </div>
  </div>
</header>

<app-main></app-main>

<footer class="bg-light mt-3 p-3">
  <div class="row">
    <div class="col-md-4">
      <p>Hello, I'm jonas</p>
      <a href="#">Portofolio</a>
    </div>
    <div class="col-md-4 text-center">
      <div class="row">
        <div class="col"><i class="fas fa-at"></i></div>
        <div class="col"><i class="fas fa-hashtag"></i></div>
        <div class="col"><i class="fab fa-gitlab"></i></div>
      </div>
    </div>
    <div class="col-md-4 text-right">
      <p>made with <i class="fas fa-heart"></i> with <i class="fab fa-angular"></i>, <i class="fab fa-bootstrap"></i> and <i class="fab fa-font-awesome-flag"></i></p>
    </div>
  </div>

</footer>



<app-edit-input-name-dialog></app-edit-input-name-dialog>


<app-notification></app-notification>