<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-xs-6 d-none d-md-block">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button (click)="onSelectLayout(12)" type="button" id="layout6" class="btn btn-outline-secondary" [ngClass]="{'active': _colClass == 'col-md-12'}">
                    <i class="fas fa-ruler-horizontal"></i>
                </button>
                <button (click)="onSelectLayout(6)" type="button" id="layout12" class="btn btn-outline-secondary" [ngClass]="{'active': _colClass == 'col-md-6'}">
                    <i class="fas fa-ruler-vertical"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-6 d-none d-md-block ">
            <button (click)="onClickInfo()" type="button" class="btn btn-icon text-secondary">
                <i class="fas fa-info-circle"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div [class]="_colClass">
            <app-input [inputValue]="_savedInputSrv.selectedInput"  (input)="onInputEmit($event)"></app-input>
        </div>
        <div [class]="_colClass">
            <app-output [processedHtml]="_output"></app-output>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-saved-input></app-saved-input>
        </div>
    </div>
</div>





