@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');


::-webkit-scrollbar {
    display: none;
}

.container-fluid {
    padding-right: 5rem;
    padding-left: 5rem;
}

.confirm-copy{
    background-color: rgb(66, 66, 66);
    color: whitesmoke;
    border-radius: .5rem;
    width: 250px;
    position: relative;
    right: 0;
}

.confirm-copy p {
    margin: 0;
}

.btn.spaced{
    margin-right: 10px; 
    margin-left: 10px; 
}